
    <head>

        <a href= "/gifts" class="logout">My Gift List</a>
        <a href= "/gifts/new" class="newgift">New Gift</a>
        <a href= "/logout" class="logout">Logout</a>
    </div>

        <div class="welcome-message">
            <h3 class="capitalize">Hi, <%= current_user.username %></h3>
            <h1>| Edit |</h1>
            <br>
        </div>
    </head>


    <body>

      <div class="creategift">

      <form action="/gifts/<%=@gift.id%>" method="post">
      <input id="hidden" type="hidden" name="_method" value="patch">

      <label for="name">What's the gift?</label>
      <input type="text" id="name" name="name" value="<%= @gift.name %>">

      <label for="where_to_buy">Where to buy? </label>
      <input type="text" id="where_to_buy" name="where_to_buy" value="<%= @gift.where_to_buy %>">

      <label for="recipient">Who's getting it?</label>
      <input type="text" id="recipient" name="recipient" value="<%= @gift.recipient %>">

      <br></br>

        <textarea name="notes" rows="10" cols="50" ><%= @gift.notes %></textarea>


        <input type="submit" value="Submit">
      </form>
    </div>
    </body>
