Welcome, <%= current_user.username %>
<h1> Gifts</h1>


<% @gifts.each do |gift| %>
    Gifts<%=gift.id%>:
    <%= gift.name %>
    <%= gift.where_to_buy %>
    <%= gift.recipient %>
    <br></br>
<% end %>
