

<head>
    <div class="footer">
      <a href= "/logout" class="logout">Logout</a>
      <a href= "/gifts/new" class="newgift">New Gift</a>
    </div>

    <div class="welcome-message">
    <h3 class="capitalize">Hi, <%= current_user.username %></h3>
    <br>
    <% if @gifts.count >= 2 %>
      <h3> You have <%=@gifts.count%> gifts on your list.</h3>
     <% else %>
        <h3> You have <%=@gifts.count%> gift on your list.</h3>
    <% end %>

</br>

</div>
</head>

<body>
<br></br>
<br></br>
<div class="container">
    <table class="table table-hover">
      <thead>
        <tr class="table-header">
          <th colspan="10">Christmas Gifts</th>
        </tr>

        <tr>
          <th>No. </th>
          <th>Gift Name </th>
          <th>Buy From </th>
          <th>Recipient </th>
          <th>Notes </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <% if @gifts.length > 0 %>
            <% @gifts.each.with_index(1) do |gift, index| %>

              <td><%=index %></td>
              <td><a href="/gifts/<%=gift.id%>"> <%= gift.name.capitalize %> </a></td>
              <td><a href="/gifts/<%=gift.id%>"> <%= gift.where_to_buy.capitalize %> </a></td>
              <td><a href="/gifts/<%=gift.id%>"> <%= gift.recipient.capitalize %></a></td>
              <td><a href="/gifts/<%=gift.id%>"> <%= gift.notes %> </a> </td>
        </tr>
            <% end %>
          <% end %>

            </div>

      </tbody>
    </table>
  </div>
</div>
  </div>
</body>
