

<head>
  <div class="footer">
      <a href= "/logout" class="logout">Logout</a>
      <a href= "/gifts/new" class="newgift">New Gift</a>
    </div>

  <div class="welcome-message">
  <h3 class="capitalize">Hi, <%= current_user.username %></h3>

   <% if @gifts.count >= 2 %>
    <h3> You have <%=@gifts.count%> gifts on your Christmas Gift List.</h3>
     <% else %>
        <h3>  You have <%=@gifts.count%> gift on your Christmas Gift List.</h3>
    <% end %>

<br>
<br>
</div>
</head>

<body>


    <table cellspacing="0" cellpadding="0" class="scrollTable">
      <thead class="fixedHeader">
        <tr class="alternateRow">
          <th colspan="10">Christmas Gifts</th>
        </tr>

        <tr>
          <th>No. </th>
          <th>Gift Name </th>
          <th>Buy From </th>
          <th>Recipient </th>
          <th>Notes </th>
        </tr>
      </thead>

      <tbody class="scrollContent">
        <tr class="normalRow" >
          <% @gifts.each.with_index(1) do |gift, index| %>

              <td><%=index %></td>
              <td><a href="/gifts/<%=gift.id%>"> <%= gift.name.capitalize %> </a></td>
              <td><a href="/gifts/<%=gift.id%>"> <%= gift.where_to_buy.capitalize %> </a></td>
              <td><a href="/gifts/<%=gift.id%>"> <%= gift.recipient.capitalize %></a></td>
              <td><a href="/gifts/<%=gift.id%>"> <%= gift.notes %> </a> </td>
          </tr>

          <% end %>
            </div>
    </tbody>
</table>
</div>
  </div>
</body>
