
    <head>
      <div class="nav-buttons">
        <a href= "/logout" class="logout">Logout</a>
        <a href= "/gifts/<%= @gift.id%>/delete" class="logout">Delete Gift</a>
        <a href= "/gifts/<%=@gift.id%>/edit" class="newgift">Edit Gift</a>
        <a href= "/gifts/new" class="newgift">New Gift</a>
        <a href= "/gifts" class="logout">My Gift List</a>
      </div>

        <div class="welcome-message">
          <h4>Hi, <%= current_user.username.capitalize %></h4>
          <br>
          <h1>| Your Gift |</h1>
        </div>
    </head>

        <body>

          <div class="showgift">

            <h5><b>Gift Name:</b><%= @gift.name.capitalize %> </h5>
            <h5><b>Buy From:</b><%= @gift.where_to_buy.capitalize %> </h5>
            <h5><b>Recipient:</b><%= @gift.recipient.capitalize %> </h5>
            </br>
            <h5><b>Notes:</b>
              <br></br>
              <%= @gift.notes %>
            </h5>

          </div>

        </body>

        <footer>

        <footer>
